* {
  margin: 0;
  padding: 0;
  font-family: consolas;
  box-sizing: border-box;
 
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  flex-direction: column;
  background: linear-gradient(to right, #232526, #414345);
}
.rules{
  margin: 20px;
  font-size: 20px;
  color: white;
}

.grid {
  border: 10px solid pink;
  cursor: pointer;
  display: inline-flex;
}

.presets {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.presets button {
  background: linear-gradient(90deg, transparent, #4d7b7e);
  text-decoration: none;
  text-transform: uppercase;
  padding: 25px 30px;
  margin: 40px 20px;
  letter-spacing: 4px;
  transition: 0.5s;
  font-size: 24px;
  border-radius: 5px;

}
.presets button:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
}
.buttons {
  display: flex;
}
.buttons button {
  text-decoration: none;
  text-transform: uppercase;
  margin: 20px;
  padding: 20px;
  font-size: 24px;
  background-color: grey;
  box-shadow: 0 0 6px 0px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.buttons button:hover {
  background: pink;
  color: #050801;
  box-shadow: 0 0 6px 0px;
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form input {
  margin: 20px;
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 0 6px 0px;
  background-color: skyblue;
 
}
.form input:hover {
  background: white;
  color: #050801;
  box-shadow: 0 0 6px 0px;
}
.gen {
  font-size: 24px;
  margin: 20px;
  padding: 5px;
  color: white;
  margin-right: 300px;
}

